body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#stinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
table{
    display: flex;
    justify-content: center;
}
th,tr,td{
    padding:10px;
    display: flex;
    justify-content: center;
    border: 2px solid black;

}